# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# XOS sys file
.DS_Store
**/.DS_Store

# VSCode settings
.settings/
typings/

# Client-side libraries
bower_components/

# Output directory
output/